{{ template "single_post_base" .}} {{define "css"}} {{end}} {{define "body"}}
<div class="content-container">
  <div
    class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
  >
    <img
      src="/public/images/writing/thumbnails/{{.Data.Thumbnail}}"
      alt="{{.Data.Title}}"
    />
  </div>
  <p class="color-iota fw-6 mb-6">
    What is your opinion concerning religious experiences whose proponents claim
    bring them closer to God, yet are contrary to God's Word? For example,
    transubstantiation in the Catholic denomination or baptizing in the name of
    the dead as practiced by the Mormon cult.
  </p>

  <p class="mb-6">
    Concerning this matter, I would say that any experience that contradicts the
    Word of God must, by nature, alienate one from Him rather than draw one
    closer. God and His Word are one (Jn. 1:15; 2 Tim. 3:16). Therefore, if any
    practice, regardless of its nature, stands in opposition to God's Word, it
    cannot be godly, for God is not divided (Deut. 6:4-7).
  </p>
  <p class="mb-6">
    Moreover, God's Word is truth (Jn. 17:17), and thus, if any practice
    diverges from the truth, it is no longer truth. The only logical and
    sustainable conclusion is that the practice is a lie. And God does not abide
    with lies (1 Jn. 1:5-6).
  </p>

  <p class="color-iota fw-6 mb-6">
    This seems quite clear to me. However, it may not be satisfactory to them,
    for, in their theology, they postulate that these rituals are compatible
    with the Scriptures. They go into great depths, developing theological
    arguments to demonstrate their point. Once they have established their
    argument in writing, they justify it in practice, claiming that it must
    indeed align with Scripture because it brings them closer to God. In light
    of this knowledge, they even persuade some on our side to question who we
    are to denounce their rituals as unorthodox if it is indeed drawing them
    closer to God.
  </p>

  <p class="mb-6">
    The argument that a person can belong to an unorthodox assembly or a
    heretical cult and yet be drawn to God is problematic at best.
  </p>
  <p class="mb-6">
    Let us break down how these individuals arrive at this conclusion:
  </p>
  <ol>
    <li>They begin by asserting that they should be close to God.</li>
    <li>Then, they define what it means to be "close to God."</li>
    <li>
      They proceed to explain how one can attain this closeness, and it is at
      this stage that they develop their doctrine and distort the Scriptures to
      offer biblical support for their position.
    </li>
    <li>
      Once they have redefined "closeness to God," they develop a testable
      theory by which they may verify their theological redefinition.
    </li>
    <li>
      At this point, they have a structured theory of how to get close to God
      and how to prove they are indeed approaching Him, perhaps through some
      warm feeling or tingling sensation. With this in place, they embark on its
      practice.
    </li>
    <li>
      At the end of their practice, they reflect: under the light of their
      theology, did their practice align with their theory? If the answer is
      yes—which it will be, since the theory was tailored for this outcome—they
      will be further entrenched in their belief and accumulate more assets for
      affirming and defending that they are drawing closer to Christ.
    </li>
  </ol>
  <p class="mb-6">
    However, if we analyze the entirety of the situation, we will realize that
    the key component of this structure was the redefinition of "closeness to
    God" and its testability. And as I have said before, if the practice does
    not adhere to the Word, the Word is not in it.
  </p>

  <p class="color-iota fw-6 mb-2">
    These are very good points. However, I do see that your logic relies heavily
    on the assumption that they are mishandling the Scriptures. To this, they
    might respond that, just as we claim they misinterpret the Scriptures, they
    claim we misinterpret others, such as speaking in tongues.
  </p>

  <p class="mb-6">
    The reality is that their problem is not solely the misinterpretation of the
    practice; the problem lies in the misinterpretation of "closeness to God." A
    spiritually and theologically healthy Christian does not use tongues as a
    means of getting closer to God. Rather, they assert that tongues are a sign
    of being close to Him. The practice itself is not as significant as the set
    of beliefs that the practice reinforces.
  </p>
  <p class="mb-6">
    For example, the Mormon faith is one of the most pious and charitable
    heretical cults within the Christian framework. In light of their belief
    that they will draw closer to God, they clothe the poor, feed the hungry,
    and visit the lonely—all of which are biblical (Matt. 25:31-40). Yet, as
    demonstrated earlier, it is not to God they are drawing near. The nature of
    the practice may be commendable, but the set of beliefs that the practice
    solidifies remains unbiblical and, therefore, a lie.
  </p>

  <p class="color-iota fw-6 mb-2">
    You handled the previous objection well. But now they might ask: "If my
    doctrine, as wrong as you claim it is, prompts me to perform such good
    deeds, how can you say it is not from God?"
  </p>

  <p class="mb-6">
    True, their doctrine may lead to great acts of piety. But God's doctrine is
    not composed of deeds alone; its primary foundation is the renewal of the
    heart, not the production of benevolent actions. The renewal of the heart is
    not solely concerned with the adoption of new beliefs about others (leading
    to pious deeds) but is primarily about a new set of beliefs about
    God—correct theology, i.e., the knowledge of truth (Jn. 4:24). Thus, there
    is no eternal benefit if a person holds correct biblical beliefs about their
    neighbor but not about God. This was precisely the problem of the rich man
    in the Gospels (Matt. 19:16-22; Lk. 18:18-23; Mk. 10:17-22).
  </p>
  <p class="mb-6">
    In summary, much more could be said on this matter, but my conclusion is
    this: closeness to God yields knowledge of the truth. Therefore, a person
    who claims to be getting closer to God through a methodology founded on a
    lie is getting closer to that lie, not closer to God.
  </p>
</div>
{{end}}
