{{ template "single_post_base" .}} {{define "css"}} {{end}} {{define "body"}}
<div class="content-container">
  <div
    class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
  >
    <img
      src="/public/images/writing/thumbnails/{{.Data.Thumbnail}}"
      alt="{{.Data.Title}}"
    />
  </div>
  <p class="color-iota mb-6 fw-6">
    Tu dici che Dio spesso scelga di rivelarsi a persone, come i musulmani,
    attraverso i sogni, ma perché dovrei credere che Dio faccia una cosa simile,
    visto che non mi ha mai parlato in sogno? Anche se gliel'ho chiesto.
  </p>

  <p class="mb-6">
    Per favore, laciami sprimermi. Dio non usa mezzi soprannaturali per chi ha
    la possibilità di riconoscerlo attraverso vie naturali, come la Bibbia, i
    miracoli vissuti da altri credenti, la trasformazione delle loro vite e
    l'adempimento di molte profezie.
  </p>

  <p class="color-iota mb-6 fw-6">
    Ma la Bibbia non è una prova, è solo una raccolta di antica letteratura.
  </p>

  <p class="mb-6">Ci sono tre punti che dobbiamo chiarire.</p>

  <ol>
    <li>
      La Bibbia e le sue affermazioni possono essere verificate. Gesù disse: "Se
      volete verificare se le mie parole sono vere, mettetetele in pratica",
      quindi lo scettico può farlo se lo desidera.
    </li>
    <li>
      Si può dire che la Bibbia non prova l'esistenza di Dio, ma nemmeno i sogni
      lo fanno. Se lo scettico non vuole credere a un libro scritto nell'arco di
      1500 anni da più di 40 autori, che ha segnato la storia e influenzato il
      mondo in modi inesplicabili, pieno di affermazioni supportate da storia e
      scienza, e che è il libro più tradotto e venduto al mondo, perché dovrebbe
      credere a un semplice sogno o visione? A mio avviso, il rifiuto della
      Parola di Dio è ben più grave del non credere a un sogno o visione. Chi
      non accetta la Parola di Dio come prova non accetterà nemmeno nessun
      miracolo. (Luca 16:19).
    </li>
    <li>
      C'è poi un altro problema con chi chiede un sogno o una visione, ma non
      accetta la Parola di Dio: sta commettendo lo stesso errore due volte. La
      sua obiezione nel non credere in Dio è che essendo un essere
      soprannaturale, non può essere verificato naturalmente. Ma lo stesso vale
      per i sogni straordinari. Quindi, sogni e visioni sono riservati a persone
      che soddisfano almeno queste due condizioni: non hanno accesso alla Parola
      di Dio a causa della loro posizione geografica o circostanze e desiderano
      davvero conoscere Dio. I sogni sono una misura eccezionale, non la norma.
      Difficilmente Dio si rivelerà in modo straordinario a chi vive in una
      cultura dove Giovanni 3:16 è noto ovunque.
    </li>
  </ol>

  <p class="color-iota mb-6 fw-6">
    Ma Dio mi giudicherà un giorno per non aver creduto in Lui, anche se non mi
    ha mai dato ciò che gli ho chiesto?
  </p>
  <p class="mb-6">
    No, in realtà Dio non giudica nessuno per ciò che non gli è stato dato, ma
    per ciò che gli è stato offerto. In questo caso, la Sua Parola. Inoltre, chi
    chiede un segno da Dio deve sapere che Dio non si rivela per il semplice
    atto di rivelarsi. La rivelazione di Dio è solo un mezzo per raggiungere un
    fine: entrare in una relazione personale con l'individuo. Quindi, se la
    Bibbia o una visione portano allo stesso risultato, quale differenza fa il
    mezzo? Dobbiamo capire che Dio non offre mai sogni o atti soprannaturali
    come prova della Sua esistenza; l'unica testimonianza che offre è il Suo
    Spirito.
  </p>
  <p class="color-iota mb-6 fw-6">
    Sì, questo può essere vero, ma non potrò avere il Suo Spirito finché non
    avrò la prova che Lui è reale attraverso un segno soprannaturale. Se non
    avverrà qualcosa di soprannaturale, non avrò mai il Suo Spirito e, alla
    fine, non crederò.
  </p>
  <p class="mb-6">
    Tuttavia, stai ricadendo nello stesso errore. Ho già detto che Dio si
    aspetta che si inizi da ciò che è già nelle nostre mani. Perché vuoi partire
    da ciò che non è possibile invece di iniziare da ciò che lo è? Non è forse
    un atteggiamento di pigrizia? Perché lasciare tutto il lavoro a Dio? Quando
    sei interessato a un altro argomento, non aspetti che si riveli da solo,
    vero? No! Fai del tuo meglio per studiarlo e impararlo, perché è tua
    responsabilità cercarlo. Per essempi quando se vuoi imparare un’altra
    lingua.
  </p>
  <p class="color-iota mb-6 fw-6">
    È vero, gli altri argomenti sono una tua responsabilità, ma non sono
    personali. Se Dio è personale, come dici, e se ti ama come affermi, allora è
    Suo dovere almeno aiutarti a credere, soprattutto quando si tratta di
    credergli per diventare Suo servo.
  </p>
  <p class="mb-6">
    Hai torto. Dio non vuole che nessuno si perda (Ezechiele 18:27), ma non è
    Sua responsabilità far sì che questo accada (Isaia 55:6-7). Inoltre, Dio non
    ti chiama a essere Suo servo, ma Suo figlio (Giovanni 1:12). Il fatto che
    non hai ancora capito questo dipende dal tuo rifiuto di iniziare con la
    Bibbia.
  </p>
</div>
{{ end}}
