{{ template "single_post_base" .}} {{define "css"}} {{end}} {{define "body"}}
<div class="content-container">
  <div
    class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
  >
    <img
      src="/public/images/writing/thumbnails/{{.Data.Thumbnail}}"
      alt="{{.Data.Title}}"
    />
  </div>
  <p class="color-iota mb-6 fw-6">
    Dices que Dios a menudo elige revelarse a las personas, como los musulmanes,
    a través de sueños, pero ¿por qué debería creer que Dios hace algo así, ya
    que nunca me ha hablado en un sueño? A pesar de que le he pedido.
  </p>

  <p class="mb-6">
    Por favor, permíteme expresarme. Dios no usa medios sobrenaturales para
    aquellos que tienen la oportunidad de reconocerlo a través de medios
    naturales, como la Biblia, los milagros experimentados por otros creyentes,
    la transformación de sus vidas y el cumplimiento de muchas profecías.
  </p>

  <p class="color-iota mb-6 fw-6">
    Pero la Biblia no es una prueba; es solo una colección de literatura
    antigua.
  </p>

  <p class="mb-6">Hay tres puntos que debemos aclarar.</p>

  <ol>
    <li>
      La Biblia y sus afirmaciones pueden ser verificadas. Jesús dijo: "Si
      quieres verificar si mis palabras son verdaderas, ponlas en práctica" (Jn.
      7:17 [paráfrasis mía]), así que el escéptico puede hacerlo si lo desea.
    </li>
    <li>
      Uno puede decir que la Biblia no prueba la existencia de Dios, pero los
      sueños tampoco lo hacen. Si el escéptico no quiere creer en un libro: 1)
      escrito durante un lapso de 1500 años; 2) por al menos cuarenta autores
      diferentes; 3) que ha marcado la historia e influido en el mundo de
      maneras inexplicables; 4) uno que está lleno de afirmaciones respaldadas
      por la historia y la ciencia; 5) y que es el libro más traducido y vendido
      en el mundo, ¿por qué debería creer en un simple sueño o visión? En mi
      opinión, el rechazo de la Palabra de Dios es mucho más grave que no creer
      en un sueño o visión. Aquellos que no aceptan la Palabra de Dios como
      prueba no aceptarán ningún milagro. (Lucas 16:19).
    </li>
    <li>
      También hay otro problema con aquellos que piden un sueño o visión pero no
      aceptan la Palabra de Dios: están cometiendo el mismo error dos veces. Su
      objeción para no creer en Dios es que Él es un ser sobrenatural que no
      puede ser verificado naturalmente. Pero lo mismo ocurre con los sueños
      extraordinarios. Por lo tanto, los sueños y visiones están reservados para
      personas que cumplen al menos estas dos condiciones: no tienen acceso a la
      Palabra de Dios debido a su situación geográfica o circunstancial y
      realmente quieren conocer a Dios. Los sueños son una medida excepcional,
      no la norma. Dios difícilmente se revelará de una manera extraordinaria a
      alguien que vive en una cultura donde Juan 3:16 está escrito en cada
      esquina.
    </li>
  </ol>

  <p class="color-iota mb-6 fw-6">
    Pero, ¿me juzgará Dios algún día por no haber creído en Él, a pesar de que
    nunca me ha dado lo que le pedí?
  </p>
  <p class="mb-6">
    No, en realidad, Dios no juzga a nadie por lo que no se le ha dado, sino por
    lo que de hecho se le ha dado. En este caso, Su Palabra. Además, aquellos
    que piden una señal de Dios deben entender que Dios no se revela por el
    simple acto de revelarse. La revelación de Dios es solo un medio para un
    fin: entrar en una relación personal con el individuo. Entonces, si la
    Biblia o una visión logran el mismo resultado, ¿qué diferencia hace el
    medio? Debemos entender que para los cristianos, Dios, más allá de ofrecer
    sueños o actos sobrenaturales como prueba de Su existencia, también ofrece
    el testimonio de Su Espíritu.
  </p>
  <p class="color-iota mb-6 fw-6">
    Sí, esto puede ser cierto, pero no podré tener Su Espíritu hasta que tenga
    la prueba de que Él es real a través de una señal sobrenatural. Si no sucede
    algo sobrenatural, nunca tendré Su Espíritu, debido al hecho de que no
    creeré sin una.
  </p>
  <p class="mb-6">
    Estás cayendo en el mismo error. Ya he dicho que Dios espera que comencemos
    con lo que ya está en nuestras manos. ¿Por qué quieres comenzar con lo que
    no es posible en lugar de comenzar con lo que sí lo es? ¿No es esto un acto
    de pereza? ¿Por qué dejar todo el trabajo a Dios? Cuando estás interesado en
    otro tema, no esperas a que se te revele, ¿verdad? ¡No! Haces todo lo
    posible para estudiarlo y aprenderlo, porque es tu responsabilidad buscarlo.
    Por ejemplo, cuando quieres aprender otro idioma.
  </p>
  <p class="color-iota mb-6 fw-6">
    Es cierto, el conocimiento de otros temas es mi responsabilidad adquirir,
    pero recuerda que no son personales. Si Dios es personal, como dices, y si
    me ama, como afirmas, entonces es Su deber al menos ayudarme a creer,
    especialmente cuando se trata de creer en Él para convertirme en Su siervo.
  </p>
  <p class="mb-6">
    Estás equivocado. Es cierto que Dios no desea que nadie se pierda (Ez.
    18:27), pero no es Su responsabilidad asegurarse de que esto suceda (Isa.
    55:6-7) sin respetar la decisión del individuo. Además, Dios no te llama a
    ser Su siervo, sino Su hijo (Jn. 1:12). El hecho de que aún no hayas
    entendido siquiera este principio básico se remonta a tu negativa a comenzar
    con la Biblia.
  </p>
</div>
{{ end}}
