{{ template "single_post_base" .}} {{define "css"}}
<link
  href="/public/css/posts/linguistics.css"
  rel="stylesheet"
  type="text/css"
/>{{end}} {{define "body"}}
<div class="content-container">
  <!-- post content  -->

  <div>
    <div
      class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
    >
      <img
        src="/public/images/writing/italian_passato_imperfetto_indicative.webp"
        alt="conjugation of the Italian passato imperfetto"
      />
    </div>
    <h3 class="color-iota mb-2">Introduction</h3>
    <p>
      The <i><b>passato imperfetto</b></i> is used for ongoing or habitual
      actions in the past. It signifies that an action not only happened once,
      but it was an ongoing action. The imperfect past is second to the perfect
      past in terms of popularity and day-to-day usage, meaning that it is used
      extensively in prolonged conversations.
      <span class="bg-eta"
        >A solid knowledge of the <i><b>passato prossimo</b></i> and the
        <i><b>passato imperfetto</b></i> will render the learner ready with most
        of the past conjugations needed to carry a meaningful conversation in
        Italian.</span
      >
      This tense does not make use of a helping verb like the
      <i><b>passato perfetto</b></i> does. There are also fewer irregular cases.
    </p>

    <h3 class="color-iota mt-6 mb-2">Conjugation</h3>
    <ul>
      <li>
        <h4 class="m-0 color-chi">-are</h4>
        <ul class="m-0 ps-2">
          <li><b>Singular:</b> avo, avi, ava</li>
          <li><b>Plural:</b> avamo, avate, avano</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ere</h4>
        <ul class="m-0 ps-2">
          <li><b>Singular:</b> evo, evi, eva</li>
          <li><b>Plural:</b> evamo, evate, evano</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ire</h4>
        <ul class="m-0 ps-2">
          <li><b>Singular:</b> ivo, ivi, iva</li>
          <li><b>Plural:</b> ivamo, ivate, ivano</li>
        </ul>
      </li>
    </ul>

    <h3 class="color-iota mt-6 mb-2">When to Use</h3>
    <p class="mb-4">
      It may be used in most situations where the English “I used to …” or “I
      was …” would satisfy the case.
    </p>

    <h3 class="color-iota mt-6 mb-2">Examples</h3>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Ongoing Actions in the Past:</p>
      <ul>
        <li>🇮🇹 Mangiavo una mela quando mi hai chiamato.</li>
        <li>🇲🇽 Comía una manzana cuando me llamaste.</li>
        <li>🇺🇸 I was eating an apple when you called me.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Habitual Actions in the Past:</p>
      <ul>
        <li>🇮🇹 Andavo a scuola tutti i giorni.</li>
        <li>🇲🇽 Iba a la escuela todos los días.</li>
        <li>🇺🇸 I used to go to school every day.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Background Descriptions:</p>
      <ul>
        <li>🇮🇹 Era una giornata piovosa.</li>
        <li>🇲🇽 Era un día lluvioso.</li>
        <li>🇺🇸 It was a rainy day.</li>
      </ul>
    </div>

    <h4 class="fs-5 color-lambda mt-8 mb-2">To Christ be the Glory!</h4>
    <h5 class="opacity-60">Luke 17:10</h5>
  </div>
</div>
{{end}}
