{{ template "single_post_base" .}} {{define "css"}}
<link
  href="/public/css/posts/linguistics.css"
  rel="stylesheet"
  type="text/css"
/>{{end}} {{define "body"}}

<div class="content-container">
  <!-- post content  -->

  <div>
    <div
      class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
    >
      <img
        src="/public/images/writing/italian_passato_remoto_Indicative.webp"
        alt="conjugation of the Italian passato remoto"
      />
    </div>
    <h3 class="color-iota mb-2">Introduction</h3>
    <p>
      The <i><b>passato remoto</b></i> has been gradually disappearing from the
      Italian tongue. In some parts of Italy this vanishing is taking place at a
      faster pace. It is safe to say that, although this tense is still used in
      daily conversations, its use has come to be reserved almost exclusively to
      formal writing. One of the factors that have brought this tense to its
      present state is its many irregularities. Though the conjugations below
      apply to the majority of verbs, the verbs that break these rules are many.
    </p>

    <ul>
      <li>
        <h4 class="m-0 color-chi">-are</h4>
        <ul class="m-0 ps-2">
          <li><b>Singular:</b> ai, asti, ò</li>
          <li><b>Plural:</b> ammo, aste, arono</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ere</h4>
        <p>
          For the second conjugation “-ere,” it is important to mention that
          there are two possible endings for the 1S, 3S, and 3P as displayed
          below.
        </p>
        <ul class="m-0 ps-2">
          <li><b>Singular:</b> ei/etti, esti, è/ette</li>
          <li><b>Plural:</b> emmo, este, erono/ettero</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ire</h4>
        <ul class="m-0 ps-2">
          <li><b>Singular:</b> ii, isti, ì</li>
          <li><b>Plural:</b> immo, iste, irono</li>
        </ul>
      </li>
    </ul>

    <h3 class="color-iota mt-6 mb-2">Irregularities</h3>

    <p class="mb-4">
      Most differentiable irregularities happen in the verbs <i><b>essere</b></i
      >, as well as in the modal verbs—as is their tendency in many languages.
      The most common modal verbs are
      <i><b>dovere, potere, volere, sapere.</b></i>
    </p>

    <p class="mb-4">
      All verbs whose stem ends in <b>V, M, R, T, GG,</b> or <b>RR</b> replace
      each of these instances with <b>SS</b>. This change only happens in the
      1S, 3S, and 3P, nonetheless.
    </p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li>io lego → io lessi</li>
        <li>lui/lei leggi → lui/lei lesse</li>
        <li>loro leggono → loro lessero</li>
      </ul>
    </div>

    <p class="mb-4 ms-4 bg-eta">
      To these irregularities, there are more irregularities, as is to be
      expected. Some verbs do not get a double <b>S</b> but a single <b>S</b>.
    </p>

    <p class="mb-4">
      Verbs whose stem ends in <b>N, V,</b> or <b>ND</b> are ended in a single
      <b>S</b>.
    </p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li>io prendo → io presi</li>
        <li>lui/lei prende → lui/lei prese</li>
        <li>loro prendono → loro presero</li>
      </ul>
    </div>

    <p class="mb-4 ms-4 bg-eta">
      Yet, verbs whose stem ends not in <b>ND</b> but in <b>D</b> will replace
      the <b>D</b> with a single <b>S</b>.
    </p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li>io chiudo → io chiusi</li>
        <li>lui/lei chiude → lui/lei chiuse</li>
        <li>loro chiudono → loro chiusero</li>
      </ul>
    </div>

    <p class="mb-4">
      Verbs whose stem ends in <b>SC</b> will replace it with <b>CQU</b> in the
      1S, 3S, and 3P.
    </p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li>io piacio → io piacqui</li>
        <li>lui/lei piace → lui/lei piacque</li>
        <li>loro piaciono → loro piacquero</li>
      </ul>
    </div>

    <p class="mb-4 ms-4 bg-eta">
      An irregularity to this irregularity is the verb
      <b><i>conoscere,</i></b> which, though ending in <b>SC</b> adopts
      <b>BB</b>
      instead of <b>CQU</b>.
    </p>

    <p class="mb-4">
      Verbs whose stem ends in <b>NG</b> adopt <b>NS</b> instead.
    </p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li>io fingo → io finsi</li>
        <li>lui/lei finge → lui/lei finse</li>
        <li>loro fingono → loro finsero</li>
      </ul>
    </div>

    <p class="mb-4">
      Other verbs whose stem ends in <b>GLI</b> will take <b>NS</b>
    </p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li>io toglio → io tolsi</li>
        <li>lui/lei toglie → tolse</li>
        <li>loro togliono → loro tolsero</li>
      </ul>
    </div>

    <p class="mb-4">Verbs whose stem ends in <b>RG</b> will take <b>RS</b></p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li>io scorgo → io scorsi</li>
        <li>lui/lei scorge → lui/lei scorse</li>
        <li>loro scorgono → loro scorsero</li>
      </ul>
    </div>

    <h3 class="color-iota mt-6 mb-2">When to Use</h3>
    <p class="mb-4">
      It may be used in most situations where the English “I did” would satisfy
      the case.
    </p>

    <h3 class="color-iota mt-6 mb-2">Examples</h3>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Historical or Distant Past Actions:</p>
      <ul>
        <li>🇮🇹 Dante scrisse la Divina Commedia.</li>
        <li>🇲🇽 Dante escribió la Divina Comedia.</li>
        <li>🇺🇸 Dante wrote the Divine Comedy.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Completed Actions in the Distant Past:</p>
      <ul>
        <li>🇮🇹 Colombo scoprì l’America nel 1492.</li>
        <li>🇲🇽 Colón descubrió América en 1492.</li>
        <li>🇺🇸 Columbus discovered America in 1492.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Narration of Past Events:</p>
      <ul>
        <li>🇮🇹 Il re morì e il popolo pianse.</li>
        <li>🇲🇽 El rey murió y el pueblo lloró.</li>
        <li>🇺🇸 The king died, and the people wept.</li>
      </ul>
    </div>

    <h4 class="fs-5 color-lambda mt-8 mb-2">To Christ be the Glory!</h4>
    <h5 class="opacity-60">Luke 17:10</h5>
  </div>
</div>
{{end}}
