{{ template "single_post_base" .}} {{define "css"}}
<link
  href="/public/css/posts/linguistics.css"
  rel="stylesheet"
  type="text/css"
/>{{end}} {{define "body"}}

<div class="content-container">
  <!-- post content  -->

  <div>
    <div
      class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
    >
      <img
        src="/public/images/writing/italian_present_indicative.webp"
        alt="conjugation of the Italian present indicative"
      />
    </div>
    <h3 class="color-iota mb-2">Introduction</h3>
    <p>
      The Italian present tense is by far the easiest and most common
      conjugation of the Italian verbs, and perhaps of the verbs in any
      language.
    </p>

    <h3 class="color-iota mt-6 mb-2">Conjugation</h3>
    <ul>
      <li>
        <h4 class="m-0 color-chi">-are</h4>
        <ul class="m-0 ps-2">
          <li><b>singular:</b> o, i, a</li>
          <li><b>plural:</b> iamo, ate, ano</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ere</h4>
        <ul class="m-0 ps-2">
          <li><b>singular:</b> o, i, e</li>
          <li><b>plural:</b> iamo, ete, ono</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ire</h4>
        <ul class="m-0 ps-2">
          <li><b>singular:</b> o, i , e</li>
          <li><b>plural:</b> iamo, ite, ono</li>
        </ul>
      </li>
    </ul>

    <h3 class="color-iota mt-6 mb-2">Irregularities</h3>

    <p class="mb-4">
      Irregularities concerning the <b class="color-chi">-are</b> termination
      are verbs which root ends in <b>G</b> or <b>C.</b> These verbs adopt an
      <b>H</b> to dull the sound of the <b>C</b> and <b>G</b> (think of the
      <b>U</b> in the Spanish to dull the <b>G</b> sound). This procedure is
      applied to the 2S and 1P.
      <br />
      <span class="d-block mt-2 border-top border-alpha ms-4"
        >Examples: giocare, pagare → <b>h</b> → gioc<b>h</b>i,
        pag<b>h</b>i.</span
      >
    </p>
    <p class="mb-4">
      A second irregularity rule comes packed in the verb roots ending in
      <b>I.</b> To these, the <b>I</b> is simply removed in the 2S and 1P at the
      time of conjugating it.
      <br />
      <span class="d-block mt-2 border-top border-alpha ms-4"
        >Examples: mangiare → <strike>i</strike> → mangi (notice that if it was
        not removed it would be magii)</span
      >
    </p>
    <p>
      For the termination, <b class="color-chi">-ire</b> the conjugational
      irregularities include verbs like capire, pulire, finire, obbedire, etc.
      None of these irregularities follow a rule. They must be memorized. Such
      irregular verbs are conjugated as follows: - The last letter of the verb
      stem takes on a <b>SC</b> for the 1S, 2S, 3S, and 3P.

      <br />
      <span class="d-block mt-2 border-top border-alpha ms-4"
        >Example: capire, pulire, finire → <b>sc</b> → capi<b>sc</b>o,
        puli<b>sc</b>o, fini<b>sc</b>o.</span
      >
    </p>

    <h3 class="color-iota mt-6 mb-2">Examples</h3>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Actions Happening Now:</p>
      <ul>
        <li>🇮🇹 Mangio una mela.</li>
        <li>🇲🇽 Como una manzana.</li>
        <li>🇺🇸 I am eating an apple.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Habitual Actions:</p>
      <ul>
        <li>🇮🇹 Vado a scuola tutti i giorni.</li>
        <li>🇲🇽 Voy a la escuela todos los días.</li>
        <li>🇺🇸 I go to school every day.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>General Truths:</p>
      <ul>
        <li>🇮🇹 Il sole sorge a est.</li>
        <li>🇲🇽 El sol sale por el este.</li>
        <li>🇺🇸 The sun rises in the east.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Scheduled Future Events:</p>
      <ul>
        <li>🇮🇹 Domani parto per Roma.</li>
        <li>🇲🇽 Mañana parto para Roma.</li>
        <li>🇺🇸 I leave for Rome tomorrow.</li>
      </ul>
    </div>

    <h4 class="fs-5 color-lambda mt-8 mb-2">To Christ be the Glory!</h4>
    <h5 class="opacity-60">Luke 17:10</h5>
  </div>
  {{ end}}
</div>
