{{ template "single_post_base" .}} {{define "css"}}
<link
  href="/public/css/posts/linguistics.css"
  rel="stylesheet"
  type="text/css"
/>{{end}} {{define "body"}}
<div class="content-container">
  <!-- post content  -->

  <div>
    <div
      class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
    >
      <img
        src="/public/images/writing/italian_future_simple_indicative.webp"
        alt="conjugation of the Italian futuro semplice"
      />
    </div>
    <h3 class="color-iota mb-2">Futuro Semplice</h3>
    <p>
      The future simple in Italian is used to indicate any action that is
      programmed or that has the possibility to happen in the future. This is
      perhaps the aspect of the future that agrees the most in all languages.
    </p>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Example:</p>
      <ul>
        <li><i>Domani andrò a Roma.</i></li>
      </ul>
    </div>

    <p class="mb-4">
      It can also be used epistemically. The epistemic future expresses doubt.
      Spanish uses this form quite commonly as well.
    </p>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Example:</p>
      <ul>
        <li><i>Sarà Monica all’università?</i></li>
      </ul>
    </div>

    <p class="mb-4">
      There is yet another use called the concessive use, which acknowledges a
      fact to be true but not worthy of importance. An aspect of the future that
      Spanish also uses to denote or emphasize disregard for a factual claim.
    </p>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Example:</p>
      <ul>
        <li>
          <i>Queste scarpe saranno di moda, ma non mi piacciono affatto.</i>
        </li>
      </ul>
    </div>

    <p class="mb-4">
      As opposed to the other tenses,
      <span class="bg-eta"
        >the conjugation of the future tense does not begin from the stem of the
        verb, but rather from the very last vowel of each of the three
        endings.</span
      >
    </p>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Example:</p>
      <ul>
        <li>
          <i><b>Partire</b></i> is not conjugated from the stem
          <i><b>part</b></i
          >, but from <i><b>partir</b></i
          >.
        </li>
      </ul>
    </div>

    <p class="mb-4 ms-4 bg-eta">
      This is quite nice because it allows the conjugations to share the same
      inflections for all three endings (are, ere, ire).
    </p>

    <h3 class="color-iota mt-6 mb-2">Conjugation</h3>
    <ul>
      <li><b>Singular:</b> -ò, ai, à</li>
      <li><b>Plural:</b> -emo, -ete, -anno</li>
    </ul>

    <p class="mb-4">
      However, for verbs ending in -are, the <b>A</b> must be replaced with an
      <b>E</b>. Therefore, in reality, it is left with only two endings,
      <i>-ere</i> and <i>-ire</i>.
    </p>

    <h3 class="color-iota mt-6 mb-2">Examples</h3>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Actions That Will Happen in the Future:</p>
      <ul>
        <li>🇮🇹 Domani mangerò una mela.</li>
        <li>🇲🇽 Mañana comeré una manzana.</li>
        <li>🇺🇸 Tomorrow I will eat an apple.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Promises or Predictions:</p>
      <ul>
        <li>🇮🇹 Farò del mio meglio.</li>
        <li>🇲🇽 Haré lo mejor que pueda.</li>
        <li>🇺🇸 I will do my best.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Scheduled Actions:</p>
      <ul>
        <li>🇮🇹 Partiremo per Roma la prossima settimana.</li>
        <li>🇲🇽 Partiremos para Roma la próxima semana.</li>
        <li>🇺🇸 We will leave for Rome next week.</li>
      </ul>
    </div>

    <h4 class="fs-5 color-lambda mt-8 mb-2">To Christ be the Glory!</h4>
    <h5 class="opacity-60">Luke 17:10</h5>
  </div>
</div>
{{end}}
