{{ template "single_post_base" .}} {{define "css"}}
<link
  href="/public/css/posts/linguistics.css"
  rel="stylesheet"
  type="text/css"
/>{{end}} {{define "body"}}

<div class="content-container">
  <!-- post content  -->

  <div>
    <div
      class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
    >
      <img
        src="/public/images/writing/italian_passato_prossimo_indicative.webp"
        alt="conjugation of the Italian present indicative"
      />
    </div>
    <h3 class="color-iota mb-2">Introduction</h3>
    <p>
      The Passato Prossimo is used for actions that happened at a specific time
      in the recent past and have been completed. It is composed of two things,
      a helping verb and a participle verb. The helping verbs are
      <i><b>essere</b></i> and <i><b>avere</b></i
      >. If the verb uses the auxiliary <i><b>essere</b></i
      >, then the participle must agree in number and gender
    </p>

    <h3 class="color-iota mt-6 mb-2">Conjugation of the Participle Past</h3>
    <ul>
      <li>
        <h4 class="m-0 color-chi">-are</h4>
        <ul class="m-0 ps-2">
          <li><b>singular:</b> ato</li>
          <li><b>plural:</b> ati</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ere</h4>
        <ul class="m-0 ps-2">
          <li><b>singular:</b> uto</li>
          <li><b>plural:</b> uti</li>
        </ul>
      </li>
      <li>
        <h4 class="m-0 color-chi">-ire</h4>
        <ul class="m-0 ps-2">
          <li><b>singular:</b> ito</li>
          <li><b>plural:</b> iti</li>
        </ul>
      </li>
    </ul>

    <h3 class="color-iota mt-6 mb-2">Irregularities</h3>

    <p class="mb-4">
      Most verbs use the auxiliary verb avere, however, verbs that convey
      movement use the verb <i><b>essere</b></i> along with other few ones like
      the verb <i><b>essere</b></i> itself.
      <span class="bg-eta"
        >The Passato Prossimo is by far the most common tense of the past in
        Italian.</span
      >
      <br />
    </p>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Examples:</p>
      <ul>
        <li><b>singular masculine:</b> Lui è mangiato dal cane.</li>
        <li><b>singular feminine:</b> Lei è vista dalla polizia.</li>
        <li><b>plural masculine:</b> Loro sono partiti presto.</li>
        <li><b>plural feminine:</b> Loro sono mangiate dalle formiche.</li>
      </ul>
    </div>

    <h3 class="color-iota mt-6 mb-2">When to Use</h3>
    <p class="mb-4">
      It may be used in most situations where the English “I have done” or “I
      did” would satisfy the case.
    </p>

    <h3 class="color-iota mt-6 mb-2">Examples</h3>
    <div class="mt-2 border-top border-alpha ms-4">
      <p>Recent Actions:</p>
      <ul>
        <li>🇮🇹 Ho mangiato una mela.</li>
        <li>🇲🇽 He comido una manzana.</li>
        <li>🇺🇸 I have eaten an apple.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Actions Completed at an Unspecified Time in the Past:</p>
      <ul>
        <li>🇮🇹 Abbiamo visto quel film molte volte.</li>
        <li>🇲🇽 Hemos visto esa película muchas veces.</li>
        <li>🇺🇸 We have watched that movie many times.</li>
      </ul>
    </div>

    <div class="mt-2 border-top border-alpha ms-4">
      <p>Actions That Have Relevance to the Present:</p>
      <ul>
        <li>🇮🇹 Hanno finito i compiti.</li>
        <li>🇲🇽 Han terminado los deberes.</li>
        <li>🇺🇸 They have finished their homework.</li>
      </ul>
    </div>

    <h4 class="fs-5 color-lambda mt-8 mb-2">To Christ be the Glory!</h4>
    <h5 class="opacity-60">Luke 17:10</h5>
  </div>
</div>
{{ end}}
