{{ template "single_post_base" .}} {{define "css"}} {{end}} {{define "body"}}
<div class="content-container">
  <div
    class="single-post-thumbnail d-flex align-items-center justify-content-center mb-6"
  >
    <img
      src="/public/images/writing/thumbnails/{{.Data.Thumbnail}}"
      alt="{{.Data.Title}}"
    />
  </div>
  <p class="color-iota mb-6 fw-6">
    Mi è stato rivelato che lei si oppone all'alterazione del genere sessuale.
    Dimmi, secondo l'etica della Bibbia, quando è lecito alterare l'anatomia del
    corpo allora?
  </p>

  <p class="mb-6">
    Per quanto riguarda l'alterazione dell'anatomia del corpo, dal punto di
    vista biblico, è etico farlo quando l'alterazione aggiunge valore alla
    persona nel suo insieme e non interferisce con la sua funzionalità
    originale. Dato che siamo portatori dell'immagine di Dio (Genesi 1:26),
    qualsiasi modifica al corpo deve essere un cambiamento che contribuisca e
    non diminuisca il suo valore.
  </p>

  <p class="color-iota mb-6 fw-6">
    Ma come posso sapere se una alterazione aggiunge o sottrae valore al corpo
    fisico? Non è vero che la maggior parte dei cambiamenti contribuisce al
    valore totale del corpo, soprattutto se sono volontari?
  </p>

  <p class="mb-6">
    No, questo non è sempre il caso. Ci sono alterazioni anatomiche che
    aggiungono valore al corpo. Ad esempio, amputare una gamba per evitare che
    la cancrena avanzi è un intervento chirurgico che aggiunge valore, poiché
    preserva la salute del resto del corpo. In questo caso, l'amputazione
    aggiunge valore al corpo rimanente anche se cambia la sua anatomia. Allo
    stesso modo, un trapianto di occhio aumenta il valore anatomico perché
    permette alla persona di vivere in un mondo dove l'assenza di un occhio
    sarebbe uno svantaggio. Così, l'acquisizione di un occhio estraneo completa
    il corpo. Tuttavia, ci sono molti casi in cui avviene il contrario. Ad
    esempio, un cambio di genere non è un esempio di un cambiamento che aggiunge
    valore, poiché implica che il corpo, così com'è nel suo stato attuale, non
    ha il suo massimo valore e che il cambiamento viene fatto per "migliorarlo".
    Tale cambiamento svaluta il valore generale del corpo perché altera
    l'anatomia dal punto di vista che il suo design è difettoso.
  </p>

  <p class="color-iota mb-6 fw-6">
    Ma perché dici che un cambio di genere è sbagliato, mentre l'uso di una
    protesi no? Entrambi vengono fatti dalla prospettiva che il corpo, così
    com'è nel suo stato attuale, è difettoso.
  </p>

  <p class="mb-6">
    È vero, entrambi vengono fatti per migliorare il corpo dalla prospettiva che
    è in uno stato attuale di malfunzionamento. Ma solo l'alterazione del genere
    sessuale si discosta dal suo design originale, mentre un trapianto di occhio
    punta verso una maggiore prossimità al suo design originale. Inoltre, il
    trapianto di occhio non è la stessa cosa di un cambio di genere per due
    ragioni. Primo, il trapianto di occhio viene eseguito per superare uno
    svantaggio fisico, il che non può essere argomentato nel caso di un cambio
    di genere. Una persona che rimane nel suo genere di nascita non è in
    svantaggio rispetto a qualcuno che lo cambia. Infatti, ci sono più svantaggi
    fisici che derivano da un cambio di genere, come la possibile perdita della
    capacità riproduttiva. Secondo, un trapianto di occhio serve a ripristinare
    una funzionalità normale del corpo, mentre un cambio di genere va contro la
    struttura normale, naturale del corpo.
  </p>

  <p class="color-iota mb-6 fw-6">
    Ma chi sei tu a stabilire ciò che è normale, vantaggioso o svantaggioso per
    me? Allo stesso modo in cui una persona potrebbe trovare utile avere un
    occhio estraneo nel suo corpo, io potrei trovare vantaggio nel cambiare il
    mio genere perché. Per loro, il vantaggio è nel migliorare la vista, mentre
    per me, il beneficio è quello di essere in pace con me stesso. Quindi,
    essere in pace con me stesso è per me un vantaggio maggiore della capacità
    di riprodurre i miei geni.
  </p>

  <p class="mb-6">
    Posso ammettere che la riproduzione dei geni non è vantaggiosa per tutte le
    persone. In questo, mi sbaglio. Ma una cosa che ancora non hai capito è che
    stiamo parlando del design originale e della capacità anatomica massima di
    una persona. Pertanto, il valore psicologico non entra nella nostra
    discussione. Non sto dicendo che essere in pace con se stessi non abbia
    valore, sto semplicemente dicendo che questo non fa parte del nostro attuale
    argomento. Mi sto concentrando esclusivamente sulla capacità anatomica
    massima.
  </p>

  <p class="color-iota mb-6 fw-6">
    Ripeterò ancora una volta, chi sei tu a definire quale sia la capacità
    anatomica massima per una persona? Ancora peggio, la tua logica sembra
    suggerire che le persone nate con disabilità hanno meno valore perché la
    loro anatomia non raggiunge una capacità "massima".
  </p>

  <p class="mb-6">
    Per favore, non fraintendermi. Non ho mai detto che le persone con
    disabilità hanno meno valore di quelle con tutte le capacità. Biblicamente,
    tutte le persone hanno lo stesso valore, non solo perché sono fatte a
    immagine di Dio, ma anche perché sono state create da Dio. Pertanto, se Dio
    nella sua sovranità ha deciso che una persona deve vivere con una
    disabilità, quella persona arriva sulla Terra con il suo massimo valore come
    individuo e non ha meno valore di una persona con capacità fisiche complete.
    Ricorda, stiamo parlando solo di valore anatomico, non di valore personale
    generale. Inoltre, una persona con disabilità non ha alterato la sua
    anatomia per sua volontà. Pertanto, qualsiasi cambiamento nella sua anatomia
    che migliori le sue capacità aggiunge valore, piuttosto che sottrarlo. In
    questo caso, potremmo dire che stiamo aggiungendo valore alla sua anatomia
    perché stiamo elevando le sue capacità a ciò che è considerato la norma nel
    nostro mondo.
  </p>

  <p class="mb-6">
    Dovremmo astenerci dal dare occhi a qualcuno che nasce senza di essi,
    semplicemente per evitare di togliere valore alla sua anatomia? No, perché
    sappiamo che dare occhi non diminuisce il suo valore. Lo aggiunge. Inoltre,
    non spetta a me decidere il valore dei corpi delle persone, perché io non
    sono il Creatore. È Dio che lo fa precisamente perché Lui è il Creatore
    (Eze. 18:4:). Pertanto, il valore dell'anatomia non deriva solo dai benefici
    ottenuti attraverso una alterazione, ma dai benefici ottenuti senza violare
    il piano originale di Dio. Non leggiamo che Dio creò gli umani con due gambe
    e due braccia, ma leggiamo che li creò maschio e femmina (Gen 1:27).
    Pertanto, non violiamo la legge di Dio mettendo un occhio nella cavità
    oculare di una persona, ma la violiamo alterandone il genere.
  </p>

  <p class="color-iota mb-6 fw-6">
    Quindi qual è la tua conclusione su questo?
  </p>

  <p class="mb-6">
    La mia conclusione è che è lecito alterare l'anatomia di un corpo quando
    aggiunge valore e non viola l'intento originale di Dio per il corpo,
    esteticamente o funzionalmente.
  </p>
</div>
{{end}}
